@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@media screen and (min-width: 1080px) {
body {
	margin: 8px 0;
    text-align: center;
	line-height: 1.45;
	background-color: #DDF4FB;
	
}

.main {
	padding: 20 px;
	float: left;
	width: 60;
}

h1 {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 2.3em;
	color: black;
	padding: 25px;
}

fieldset {
	background-color: #b0aea7;
	float: left;
}


	
h2{
	font-size:1.3em;	
	padding: 12px 20px;
	font-family: 'Playfair Display', serif;
	color:black;

}

form {
    width: 100%;
	height: 150px;
	padding: 16px;
	font-size: 14px;	
}

ul {
	line-height:180%;
	display: block;
}
ul li {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 1px;
	font-size: 1.2em;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
}
.signupbtn {
	float: left;
	width: 60;
}
}