@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
	margin-top: 8px;
	margin: 8px 0;
        text-align: center;
	line-height: 1.45;

	
}

.main {
	
	padding: 30px;
	float: left;
	width: 60%;
}

h1 {
	background-color:#b1eb96;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 2.3em;
	color: black;
	padding: 25px;
}



	
h2{
	font-weight: bold;
	font-size:1.3em;	
	padding: 12px 20px;
	font-family: 'Playfair Display', serif;
	color:black;

}

form {
	
    width: 100%;
	height: 125px;
	padding: 25px;
	font-size: 14px;	
}

ul {
	line-height:180%;
	display: block;
}
ul li {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 1px;
	font-size: 1.2em;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
}
.signupbtn {
	float: left;
	width: 100%;
}

label {
	display: block;
	color: blue;
}
  /* For mobile phones: */
@media screen and (min-width: 360px) and (max-width: 640px) {
    body {
	margin: 8px 0;
    text-align: center;
	line-height: 1.45;

	
}
.main {
	margin-top: 8px;
	padding: 30px;
	float: left;
	width: 60%;
}

h1 {
	background-color:#b1eb96;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 2.3em;
	color: black;
	padding: 25px;
}



	
h2{
	font-weight: bold;
	font-size:1.3em;	
	padding: 12px 20px;
	font-family: 'Playfair Display', serif;
	color:black;

}

form {
	
    width: 100%;
	height: 125px;
	padding: 25px;
	font-size: 14px;	
}

ul {
	line-height:180%;
	display: block;
}
ul li {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 1px;
	font-size: 1.2em;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
}
.signupbtn {
	float: left;
	width: 100%;
}

label {
	display: block;
	color: blue;
}
  }
  
  /*for tablets */
@media screen and (min-width: 750px) and (max-width: 1024px) {  
  .main {
	margin-top: 12px;
	padding: 30px;
	float: left;
	width: 60;
}

h1 {
	background-color:lavender;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 2.3em;
	color: black;
	padding: 25px;
}



	
h2{
	font-weight: bold;
	font-size:1.3em;	
	padding: 12px 20px;
	font-family: 'Playfair Display', serif;
	color:gray;

}

form {
	
    width: 100%;
	height: 125px;
	padding: 25px;
	font-size: 14px;	
}

ul {
	line-height:180%;
	display: block;
}
ul li {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 1px;
	font-size: 1.2em;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
}
.signupbtn {
	float: left;
	width: 100%;
}

label {
	display: block;
	color: blue;
}
}
